{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 110,
    "trailingComma": "all",
    "overrides": [{ "files": ["*.json", "*.yml", "*.md"], "options": { "tabWidth": 2 } }]
}
